.row-header {
	margin:0px auto;
	padding:0px auto;
}
.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.about-us{
	margin: 0px auto;
	padding: 0px 0px 50px 0px;
}
.history{
	margin: 5px auto;
	padding: 0px 0px 100px 8px;
}
.hexa{
	margin: 5px auto;
	padding: 0px 0px 0px 8px;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar {
    background-color: #512DA8;
}

input[type="radio"]{
  margin: 0px 0px 0px 10px;
}
.row-card{
	height: 200px;
	padding: 0px 10px 0px 10px;
}

.too{
	margin-top: 15px;
	margin-bottom: 20px;	
}
.hoo{
	padding: 0px 0px 20px 0px;
}

.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.card-header{
    cursor: pointer;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}